<div class="row m-0">
    <div class="nav">
        <div class="col-xs-12 col-sm-3 logo">
            <img src="assets/image/logo.svg" alt="logoIfitness">
        </div>
        <ul class='col-xs-12 col-sm-5 '>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Portfolio</a>
                <ul>
                    <li>
                        <a href="">Digital art</a>
                    </li>
                    <li>
                        <a href="">Video production</a>
                    </li>
                    <li>
                        <a href="">Web development</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">About me</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
        <div class="col-xs-12 col-sm-2 col-md-2 hotline-header hidden-xs hidden-sm hidden-md nopadding">
            <form action="" class="input-group search-bar ultimate-search">

                <div class="collection-selector">
                    <div class="kd-search-text">
                        <p>Tất cả</p>
                    </div>
                    <div class="kd-info">

                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 login-header right nopadding">

        </div>
    </div>
</div>