<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="">TRANG CHỦ</a>
                    </li>
                    <li>
                        <a href="">SẢN PHẨM<i class="fas fa-caret-down"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="">Giảm cân-Đốt mỡ</a>
                            </li>
                            <li>
                                <a href="">Tăng cân</a>
                            </li>
                            <li>
                                <a href="">Tăng cơ</a>
                            </li>
                            <li>
                                <a href="">Tăng Sức Mạnh & Sức Bền</a>
                            </li>
                            <li>
                                <a href="">Hỗ trợ sức khỏe</a>
                            </li>
                            <li>
                                <a href="">Phụ kiện thể thao</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">BEST SELLER</a>
                    </li>
                    <li>
                        <a href="">THƯƠNG HIỆU</a>
                    </li>
                    <li>
                        <a href="">KIẾN THỨC THỂ THAO <i class="fas fa-caret-down"></i></a>
                        <ul>
                            <li>
                                <a href="">Kiến thức thể hình</a>
                            </li>
                            <li>
                                <a href="">Chạy bộ</a>
                            </li>
                            <li>
                                <a href="">Đạo xe</a>
                            </li>
                            <li>
                                <a href="">Yoga</a>
                            </li>
                            <li>
                                <a href="">Bơi lội</a>
                            </li>
                            <li>
                                <a href="">Reviews sản phẩm</a>
                            </li>
                            <li>
                                <a href="">Videos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">TIN TỨC</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>