<div class="container">
    <div class="box-hd-title my-3">
        <a href="" title="Top sản phẩm bán chạy">
            <h2 class="title">
                Tăng sức đề kháng chống N-Covid 19

            </h2>
        </a>
        <div class="owl-theme">
            <div class="owl-controls">
                <div id="customNav" class="owl-nav"></div>
            </div>
        </div>
    </div>

</div>
<div class='container'>
    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let item of Info">
            <product-item [itemProduct]=item></product-item>
        </div>
    </owl-carousel>
</div>