<app-navbar></app-navbar>
<app-menu-header></app-menu-header>
<app-carousel></app-carousel>
<div class="bg-change">
    <app-sub-carousel></app-sub-carousel>
    <app-product-bar></app-product-bar>
    <app-hot-products></app-hot-products>
    <!-- <app-covid19></app-covid19> -->
    <!-- <combo-product></combo-product> -->
    <increase-weight></increase-weight>
    <sport-news></sport-news>
</div>
<div class="bg-white">
    <footer-promotion></footer-promotion>
    <app-header></app-header>
    <product-item></product-item>
</div>