.service {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-content {
    margin-left: 10px;
}

.service-content h5 {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-content p {
    font-size: 12px;
}

.service-content a {
    color: rgb(251, 174, 70);
    text-decoration: none;
}

.icon i {
    border: 1px solid #e0e0e0;
    padding: 20px;
    min-width: 84px;
    font-size: 3em;
    color: rgb(121, 121, 121);
}

hr {
    color: rgb(121, 121, 121);
}