<div class="container my-5">
    <div class="row px-2 my-5">
        <div class="col-lg-3 p-0">
            <div class="service">
                <span class="icon">
                    <i class="fas fa-truck"></i>
                </span>
                <div class="service-content">
                    <h5>Giao hàng miễn phí</h5>
                    <p>TP.HCM : ĐH trên 600.000đ<br> Toàn quốc: <a href="">Xem tại đây</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="service">
                <span class="icon">
                    <i class="fas fa-gift"></i>
                </span>
                <div class="service-content">
                    <h5>QUÀ TẶNG HẤP DẪN</h5>
                    <p>TP.HCM : ĐH trên 600.000đ<br> Toàn quốc: <a href="">Xem tại đây</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="service">
                <span class="icon">
                    <i class="fas fa-thumbs-up"></i>
                </span>
                <div class="service-content">
                    <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                    <p>TP.HCM : ĐH trên 600.000đ<br> Toàn quốc: <a href="">Xem tại đây</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="service">
                <span class="icon">
                    <i class="fas fa-life-ring"></i>
                </span>
                <div class="service-content">
                    <h5>Giao hàng miễn phí</h5>
                    <p>TP.HCM : ĐH trên 600.000đ<br> Toàn quốc: <a href="">Xem tại đây</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>