<div class="container ">
    <div class="row m-1">
        <div class="col-3 py-1">

            <div class="row text-center bg-dark text-white ">
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-1.webp" alt="">
                    <p>Tăng cân</p>
                </a>
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-2.webp" alt="">
                    <p>Giảm cân</p>
                </a>
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-3.webp" alt="">
                    <p>Tăng cơ</p>
                </a>
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-4.webp" alt="">
                    <p>Sức bền</p>
                </a>
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-5.webp" alt="">
                    <p>Đốt mỡ</p>
                </a>
                <a class="col-4 p-1 icon-border icon-hover">
                    <img src="assets/image/icon-6.png" alt="">
                    <p>Vitamin</p>
                </a>
            </div>


        </div>
        <div class="col-3 p-1">
            <div class="zoom-poster">
                <img class="img-fluid" src="assets/image/img_banner_1.webp" alt="">
            </div>
        </div>
        <div class="col-3 p-1">
            <div class="zoom-poster">
                <img class="img-fluid" src="assets/image/img_banner_2.webp" alt="">
            </div>
        </div>
        <div class="col-3 p-1">
            <div class="zoom-poster">
                <img class="img-fluid" src="assets/image/img_banner_3.webp" alt="">
            </div>
        </div>
    </div>
</div>