<div class="container">
    <ul class='product-bar'>
        <li>
            <div>
                <img src="assets/image/chevron-right.webp" alt="">
                <p>Theo Môn Thể Thao</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/gym-fitness.webp" alt="">
                <p>Gym & Fitness</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/chay-bo.webp" alt="">
                <p>Chạy Bộ</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/dap-xe.webp" alt="">
                <p>Đạp xe</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/boi-loi.webp" alt="">
                <p>Bơi Lội</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/triathlon.webp" alt="">
                <p>Triathlon</p>
            </div>
        </li>
        <li>
            <div>
                <img src="assets/image/yoga.webp" alt="">
                <p>Yoga</p>
            </div>
        </li>
    </ul>
</div>